<ion-content *ngIf="!this.enableMap">

  <ion-slides [options]="this.options" #slides>

    <ion-slide>
      <ion-card>
        <ion-card-subtitle>
          <ion-label position="floating">¿Cómo te llamas?</ion-label>
        </ion-card-subtitle>
        <ion-card-content>
          <ion-item>
            <ion-input autocomplete="given-name" [value]="this.name" [(ngModel)]="this.name" [required]="true">
            </ion-input>
          </ion-item>
          <ion-button (click)="this.nextSlide(false,'name')">
            Siguiente
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-subtitle>
          <ion-label position="floating">¿Cúal es tu numero de telefono?</ion-label>
        </ion-card-subtitle>
        <ion-card-content>
          <ion-item>
            <ion-input autocomplete="phone" [value]="this.phoneNumber" [(ngModel)]="this.phoneNumber"
              placeholder="ej. 3042544444" [required]="true">
            </ion-input>
          </ion-item>
          <ion-button (click)="this.nextSlide(true,'phone')">
            Siguiente
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-header *ngIf="this.enableMap">
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="autoComplete.input" (ionInput)="updateSearchResults()"
      placeholder="Ingresa tu dirección" (ionClear)="clearAutocomplete()" required></ion-searchbar>
  </ion-toolbar>
  <ion-list [hidden]="autoCompleteItems.length === 0">
    <ion-item *ngFor="let item of autoCompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>

</ion-header>
<ion-content *ngIf="this.enableMap">
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="this.triggerConfirmAlert()" ion-fab color="tertiary">
      Continuar
    </ion-fab-button>
  </ion-fab>
  <div class="map-wrapper" style="height: 100%;">
    <div id="map_center">
      <ion-icon name="pin" size="large" color="danger"></ion-icon>
    </div>
    <div #map id="map" style="height: 100%;"></div>
  </div>

</ion-content>