<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="this.product">{{this.product.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="this.product">
    <ion-card-header>
      <ion-card-subtitle>Precio inicial: ${{this.product.price}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card class="card no-scroll" *ngFor="let option of options; let i = index">
    <ion-card-header color="primary">
      <ion-card-subtitle>{{option.name}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list [inset]="true" lines="none">
        <ion-radio-group (ionChange)="radioGroupChange($event,i)">
          <ion-item *ngFor="let optionValue of option.OptionValues" allow-empty-selection>
            <ion-label>{{optionValue.name}}</ion-label>
            <ion-radio slot="start" [value]="optionValue"></ion-radio>
            <ion-label slot="end" *ngIf="optionValue.additionalPrice !== 0">+ ${{optionValue.additionalPrice}}
            </ion-label>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="this.product">
    <ion-card-header>
      <ion-card-subtitle>Precio final: ${{getFinalPrice()}}</ion-card-subtitle>
      <ion-card-subtitle>Descripción: {{getDescription()}}</ion-card-subtitle>

    </ion-card-header>
  </ion-card>


  <ion-button expand="full" color="primary" shape="round" style="margin:20px">
    <ion-icon name="bag-add-outline"></ion-icon>
    <ion-label>Agregar al carrito</ion-label>
  </ion-button>


</ion-content>