ion-card {
    border-radius: 7%;
    width: 100% !important;
    padding: 1% !important;
    margin-left: 0.5%;
}

ion-list {
    width: 100% !important;
    margin: 0 auto !important;
}

ion-item > * {
    font-family: "Raleway", sans-serif !important;
}

ion-content {
    padding: 1% !important;
}
