<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <div class="info-toolbar">
      <img *ngIf="this.store" [src]="this.store.image_logo" alt="">
      <ion-title><span>{{defaultName}}</span></ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="store-details-card" *ngIf="this.store">
    <ion-card-content class="store-details">
      <ion-item lines="none">
        <ion-icon name="bicycle"></ion-icon>
        <ion-label>Domicilio</ion-label>
        <ion-label>${{this.store?.delivery_fee}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="time-outline"></ion-icon>
        <ion-label>Horario</ion-label>
        <ion-label>{{this.store?.start_time}} - {{this.store?.end_time}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-searchbar showCancelButton="focus"></ion-searchbar>

  <ion-icon class="filter" name="filter"></ion-icon>

  <div *ngFor="let product of products">

    <app-product-card [product]="product"></app-product-card>

  </div>
</ion-content>