<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <div class="info-toolbar">
      <img *ngIf="this.store" [src]="this.store.image_logo" alt="">
      <ion-title><span>{{defaultName}}</span></ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar showCancelButton="focus"></ion-searchbar>

  <ion-icon class="filter" name="filter"></ion-icon>

  <div *ngFor="let product of products">

    <app-product-card [product]="product"></app-product-card>

  </div>
</ion-content>