<ion-card class="card no-scroll" (click)="addProductToCart()">
  <div class=" category">
    <span>{{this.product.ProductCategory.name}}</span>
  </div>
  <div class="like" #like (click)="likeProduct(); $event.stopPropagation()">
    <ion-icon name="heart"></ion-icon>
  </div>
  <div class="content">
    <div class="product-image">
      <img [src]="this.product.imageUrl">
    </div>
    <div class="product-info">
      <span>{{this.product.name}}</span>
    </div>
  </div>
  <div class="pricing" *ngIf="!this.product.Options || this.product.Options.length === 0">
    <div class="pricing-regular" #regularPrice>
      <span>{{this.product.price | currency:'USD': true:'2.0'}}</span>
    </div>
    <div *ngIf="this.product.discountPrice !== 0" class="pricing-promo">
      <span>{{this.product.discountPrice | currency:'USD': true:'2.0'}}</span>

      <!--<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus autem obcaecati eum totam temporibus atque
        fuga dolor, eligendi.</span> -->
    </div>
  </div>
  <div class="option" *ngIf="this.product.Options && this.product.Options.length > 0 ; else addToCart">
    <ion-icon name="arrow-forward-outline"></ion-icon>
  </div>

  <ng-template #addToCart>
    <div class="option">
      <ion-icon name="bag-add"></ion-icon>
    </div>
  </ng-template>


</ion-card>