ion-content {
    font-family: "Raleway", sans-serif;
    --ion-background-color: linear-gradient(
        0deg,
        rgba(44, 85, 21, 1) 0%,
        rgba(55, 106, 26, 1) 35%,
        rgba(103, 166, 57, 1) 100%
    ) !important;
    overflow-y: hidden;
}

.brand {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;

    #name {
        margin: 2%;
        font-size: 50px;
        font-weight: lighter;
    }

    #desc {
        font-size: small;
    }
}

.login {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1%;
    padding: 2%;
    ion-button {
        margin: 5%;
    }
}
