<ion-content>
  <div class="brand">
    <h3 id="name">VECI</h3>
    <span id="desc">Pide domicilos en tus tiendas de barrio</span>
  </div>
  <div class="login">
    <ion-button expand="full" shape="round" style="--background:#F4B400 !important;" (click)="googleLogin()">
      <ion-icon slot="start" name="logo-google"></ion-icon>
      Inicia sesión con google
    </ion-button>
    <ion-button expand="full" shape="round" style="--background:#3B5998 !important;">
      <ion-icon slot="start" name="logo-facebook"></ion-icon>
      Inicia sesión con facebook
    </ion-button>
  </div>
</ion-content>

<div id="loading" *ngIf="loading">

  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

</div>